@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@900&display=swap');

/* variáveis */
:root
{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Zen Maru Gothic', sans-serif;
}

*
{
    margin: 0px;
    padding: 0px;
}

html, body
{
    min-height: 100vh;
    /* Tamanho minimo do html vai ser 100% do viewport */
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header
{
    background-color: black;
    color: white;
    text-align: center;
}

header h1
{
    padding: 50px;
    font-size: 10vh;
    /* text-transform: uppercase;  ==> transforma tudo pra uppercase */
    /* caps mais suave */
    font-family: var(--fonte3);
    font-weight: 900;
}

header p 
{
    padding-bottom: 50px;
    /* fica simétrico com o h1 que tem 50px pra cima */
}

header a, footer a
{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section
{
    /* vai fazer com que tenha apenas uma classe imagem de cada vez na tela*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vh;
}

header a:hover, footer a:hover
{
    text-decoration: underline;
}

section p 
{
    padding-bottom: 2em;
}

section.normal
{
    background-color: white;
    color: black;
}

section.imagem
{
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.555);
    background-size: cover;
    background-attachment: fixed;
    /* ou seja, a imagem fica fixa enquanto o conteudo é scrollado p baixo ou cima */
}

section.imagem p
{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}

section#img01
{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    /* Parte "valiosa" da imagem está a direita, logo vai para a direita*/
}

section#img02
{
    background-image: url('../imagens/background002.jpg');
}

footer
{
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px;
}